@use 'variable' as *;
@use 'function' as *;

/* ===============================
	media query
================================ */
@mixin mq($bp) {
  @media #{map-get($breakpoints, $bp)} {
    @content;
  }
}

/* ===============================
	font
================================ */
@mixin font($size: 16, $weight: 400, $ls: 0.05, $lh: 25, $uni: rem) {
  $linS: calc($lh / $size);
  font-size: #{(calc($size / 10))}#{$uni};
  font-weight: $weight;
  letter-spacing: #{$ls}em;
  line-height: $linS;
}

/* ===============================
	flex
================================ */
@mixin d-flex($justify: flex-start, $align: flex-start, $wrap: nowrap, $gap: 0, $dir: row) {
  display: flex;
  flex-flow: $dir $wrap;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

/* ===============================
	clearfix
================================ */
@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

/* ===============================
	arrow <>
================================ */
@mixin arrow($width, $bold, $color, $deg) {
  &::after {
    display: inline-block;
    width: #{$width}px;
    height: #{$width}px;
    content: '';
    border-color: $color;
    border-style: solid;
    border-width: 0 #{$bold}px #{$bold}px 0;
    @if $deg == 'left' {
      transform: rotate(135deg);
    } @else if $deg == 'top' {
      transform: rotate(225deg);
    } @else if $deg == 'right' {
      transform: rotate(-45deg);
    } @else if $deg == 'bottom' {
      transform: rotate(45deg);
    }
  }
}
