/* ===============================
	breakpoints
================================ */
$breakpoints: (
  sp: 'screen and (max-width: 767px)',
  mb: 'screen and (min-width: 768px)',
  pc: 'screen and (min-width: 1300px)',
);

/* ===============================
	color
================================ */
$color-text: #000;
$color-main: #1391e6;
$color-sub: #ee5a6d;
