@use '../utils/variable' as *;
@use '../utils/mixin' as *;
@use '../utils/function' as *;

html {
  font-size: 62.5%;
  @include mq(pc) {
    font-size: math.div(100vw, 136.6);
  }
  @include mq(sp) {
    font-size: math.div(100vw, 39);
  }
}

body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  font-size: rem(16);
  color: $color-text;
}

.b-sp {
  display: none !important;
}

/* ===============================
	sp
================================ */
@include mq(sp) {
  .b-sp {
    display: block !important;
  }

  .b-pc {
    display: none !important;
  }
}
